.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: rgba(255, 255, 255, 0.85);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
main {
  flex: 1;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #1f2937;
  color: white;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  transition: background 0.3s;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero .highlight {
  color: #1f2937;
}

.hero p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 0 auto 30px;
}

.btn {
  display: inline-block;
  background-color: #1f2937;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #111827;
}

.categories {
  padding: 50px 20px;
  text-align: center;
}

.categorie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.categorie {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 250px;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #f1f1f1, #dbeafe); /* Tu peux changer */
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1512436991641-6745cdb1723f");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main {
  flex: 1;
}
 
header,footer{
    background-color: #1f2937;
  padding: 15px 30px;
  color: #fff;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  transition: background 0.3s;
}

.nav-links li a:hover {
  background: #374151;
  border-radius: 5px;
}  
h2{
    color: white;
} 
  